.calendar-main {
    width: 100%;
    display: flex;
    justify-content: center;

}

.prog {
    width: 45%;
    margin-right: 26px;
    margin-top: 30px;
}

.prog-sm {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    margin-bottom: 49px;
    border-radius: 20px;
    padding: 26px 42px;
}

.prog-h {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #000;
}

.prog-p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #C4C4C4;
    margin-top: 8px;
    margin-bottom: 18px;
}

.prog-hr {
    width: 188px;
    height: 20px;
    border-radius: 25px;
}

.points {
    margin-top: 10px;
}

.red {
    background-color: #FC0000;
    border: 1px solid #FC0000;
}

.yellow {
    background-color: #FCE300;
    border: 1px solid #FCE300;
}

.green {
    background-color: #51FC00;
    border: 1px solid #51FC00;
}

.calendar {
    width: 45%;
    margin-left: 26px;
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: #fff;
    padding-top: 38px;
    padding-bottom: 43px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 20px;
}

.month {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin-bottom: 50px;
}

.month-h {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.arrow {
    width: 25px;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    justify-items: center;
}

.week-day {
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #C4C4C4;
}

.hr-calendar {
    width: 100%;
    height: 0px;
    margin-top: 28px;
    margin-bottom: 26px;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
}

.cal-days {
    display: grid;
    grid-template-columns: repeat(7, 6fr);
    gap: 34px;
    justify-items: center;
}

.day {
    align-self: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.day-kt {
    align-self: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #C4C4C4;
}

.day-active {
    align-self: center;
    background-color: #02577A;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFF;
    padding: 11px 14px;
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .prog {
        margin-right: 16px;
    }
    .calendar {
        margin-left: 16px;
    }
    .week-day {
        font-size: 16px;
        margin: auto;
        }
    .cal-days {
        gap: 24px;
        }
    .day {
        font-size: 16px;
        }
    .day-kt {
        font-size: 16px;
        }
    .day-active {
            font-size: 16px;
            padding: 4px 10px;
        }
}

@media (max-width: 850px) {
    .calendar-main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        }
        .prog {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .calendar {
            width: 90%;
            margin-bottom: 32px;
        }
    .week-day {
        font-size: 24px;
        margin: auto;
        }
    .cal-days {
        gap: 34px;
        }
    .day {
        font-size: 24px;
        }
    .day-kt {
        font-size: 24px;
        }
    .day-active {
            font-size: 24px;
            padding: 11px 14px;
        }
    .nav:hover {
            width: 100px;
        }
        
    .nav:hover .home-a {
            display: none;
        }
        
    .nav:hover .nav-a {
            display: none;
        }
}

@media (max-width: 650px) {
    .prog {
        margin-right: 16px;
    }
    .calendar {
        margin-left: 16px;
    }
    .week-day {
        font-size: 16px;
        margin: auto;
        }
    .cal-days {
        gap: 24px;
        }
    .day {
        font-size: 16px;
        }
    .day-kt {
        font-size: 16px;
        }
    .day-active {
            font-size: 16px;
            padding: 4px 10px;
        }
}

@media (max-width: 500px) {
    .prog {
        margin-right: 12px;
    }
    .calendar {
        margin-left: 10px;
    }
    .week-day {
        font-size: 12px;
        margin: auto;
        }
    .cal-days {
        gap: 15px;
        }
    .day {
        font-size: 12px;
        }
    .day-kt {
        font-size: 12px;
        }
    .day-active {
            font-size: 12px;
            padding: 1px 8px;
        }
    .prog-h {
            font-size: 18px;
        }
        
    .prog-p {
            font-size: 14px;
            margin-top: 6px;
            margin-bottom: 12px;
        }
        
    .prog-hr {
            width: 160px;
            height: 18px;
        }
        
}