.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100vh;
    margin-left: 0px;
    background-color: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 68px;
    height: 34px;
    margin-top: 44px;
}

.hr-short {
    width: 60%;
    height: 0px;
    margin-top: 32px;
    border: 2px solid #C4C4C4;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-width: 85px;
    max-width: 195px;
    height: 57px;
    margin: 32px 0 32px 11px;
    background: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
}

.home-img {
    height: 25px;
    color: #02577A;
    margin-left: 32px;
}

.home-a {
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #02577A;
    text-decoration: none;
    margin-left: 19px;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.nav-a {
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    text-decoration: none;
    margin-left: 19px;
}

footer {
    width: calc(100% - 206px);
    margin-top: 93vh;
}

.hr-long {
    width: 346px;
    height: 0px;
    margin-left: calc(50% - 346px/2);
    background-color: #02577A;
    border: 1px solid #02577A;
}

footer > p {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #02577A;
    margin-top: 11px;
    padding-bottom: 13px;
}




.nav:hover {
    transition: 1s;
    width: 206px;
}

.nav:hover .home-a {
    display: inline-block;
}

.nav:hover .nav-a {
    display: inline-block;
}

.nav:hover .a-img {
    justify-content: start;
}
