.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-left: 0px;
    background-color: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.logo {
    width: 68px;
    height: 34px;
    margin-top: 44px;
}

.hr-short {
    width: 60%;
    height: 0px;
    margin-top: 32px;
    border: 2px solid #C4C4C4;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-width: 85px;
    max-width: 195px;
    height: 57px;
    margin: 32px 0 32px 11px;
    background: #FFFFFF;
    border-radius: 25px 0px 0px 25px;
}

.home-img {
    height: 25px;
    color: #02577A;
    margin-left: 32px;
}

.home-a {
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #02577A;
    text-decoration: none;
    margin-left: 19px;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    margin-bottom: 34px;
    align-self: flex-start;
    margin-left: 37px;
}

.nav-icon:last-of-type {
    margin-left: 30px;
}

.nav-a {
    display: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    text-decoration: none;
    margin-left: 19px;
}

.home-main {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.morning-date {
    width: calc(100% - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; 
    margin-top: 56px;  
}

.morning {
    align-self: center;
}

.morning > h2 {
    text-align: left;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    color: #000;
}

.date {
    padding: 3% 18%;
    background-color: #FFF;
    border-radius: 25px;
    justify-self: right;
}

.date > h2 {
    text-align: left;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #02577A;
}

.date > p {
    text-align: left;
    color: #000;
}

.home-main > img {
    margin-top: 23px;
    margin-bottom: 49px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.home-text {
    width: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid #02577A;
    border-radius: 25px;
    margin-bottom: 43px;
}

.home-text > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: center;
}

footer {
    width: calc(100% - 206px);
}

.hr-long {
    width: 346px;
    height: 0px;
    margin-left: calc(50% - 346px/2);
    background-color: #02577A;
    border: 1px solid #02577A;
}

footer > p {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #02577A;
    margin-top: 11px;
    padding-bottom: 13px;
}




.nav:hover {
    transition: 1s;
    width: 206px;
}

.nav:hover .home-a {
    display: inline-block;
}

.nav:hover .nav-a {
    display: inline-block;
}

.nav:hover .a-img {
    justify-content: start;
}

@media (max-width: 700px) {
    .morning-date {
        grid-template-columns: 1fr;
        margin-top: 44px;
    }
    .morning > h2 {
        text-align: center;
    }
    .date {
        justify-self: center;
    }
    .date > p {
        text-align: center;
    
    }
    .home-text {
        width: 90%;
    }
}

